<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- JavaScript and stylesheets from your assets folder are included here -->
    <%- assets.tag('/assets/styles/grid.css') %>
    <%- assets.tag('/assets/styles/normalize.css') %>
    <%- assets.tag('/assets/styles/nv.d3.css') %>
    <%- assets.tag('/assets/styles/main.css') %>
  </head>

  <body class="container">

    <div class="row">

      <%- body %>

    </div>

    <!-- Templates from your view path are included here -->
    <%- assets.templateLibrary() %>

    <%- assets.tag('/assets/js/data/stacked.js') %>
    <%- assets.tag('/assets/js/jquery.js') %>
    <%- assets.tag('/assets/js/d3.js') %>
    <%- assets.tag('/assets/js/nv.d3.js') %>
    <%- assets.tag('/assets/js/main.js') %>
  </body>
</html>
